@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@400;500;700&display=swap');


/*.dm-sans-<uniquifier> {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

  .poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

/* * {
    border: 1px solid red;
} */

:root {
    --lighBlue: #b6cbe4;
    --blueSteel: #5884BF;
    --niagara: #31587f;
    --orange: #FF8C00;
    --white: #fff;
    --green: #53900F;
    --dark-yellow: #A4A71E;

    --mainBgd: var(--lighBlue);
    --accentBgd: var(--blueSteel);
    --accentColor: var(--niagara);
    --linkColor: var(--orange);
    --header-text: var(--white);
    --accent: var(--green);
    --item-border: var(--dark-yellow)
}

.App {
  background-color: var(--mainBgd);
}

html, body {
    font-family: "DM Sans", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
}

/* League/Team Calendar */

.matches {
    display: flex;
    justify-content:flex-start;
    padding: 10px 30px;
    font-family: "DM Sans", sans-serif;
}







